@import "variables";
@import "utilities";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Sans Serif";
  color: $dark;
}

body {
  height: 100%;
  min-height: 100%;
  font-size: 1rem;
}

p,
a {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: $primary;
}

a {
  color: $tertiary;
  text-decoration: none;
}

h2 {
  margin-top: 0;
}

main {
  flex-grow: 1;
  position: relative;
}
